:root {
	--gray-25: 25, 25, 25;
    --white: 255, 255, 255;
}


body {
    color: rgb(var(--white));
    background: rgb(var(--gray-25));
    font-family: 'Noto Sans Thai Looped', sans-serif;
    margin: 0; 
    padding: 0;
}

code{
    font-family: 'Source Code Pro', monospace;
}